@using CalendarFunctions;
@model Email.EmailModel

<!DOCTYPE html>
<html>
    <head>
        <title>Upcoming Events: @Model.SeriesName</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body style="font-family: sans-serif; font-size: 14px;">
        <i>Upcoming Events:</i>
        <hr>
        @foreach (var ev in Model.Events)
        {
            <div>
                <h1 style="font-size: 20px; font-weight: bold;">@ev.summary</h1>

                @if(ev.start.Date == ev.end.Date)
                {
                    <div><span style="font-weight: bold;">When:</span> @ev.startLocal.ToString("MMMM d"), @ev.startLocal.ToString("h:mm tt") to @ev.endLocal.ToString("h:mm tt")</div>
                }else{
                    <div><span style="font-weight: bold;">When:</span> @ev.startLocal.ToString("MMMM d") @ev.startLocal.ToString("h:mm tt") to @ev.endLocal.ToString("MMMM d") @ev.endLocal.ToString("h:mm tt")</div>
                }

                <div><span style="font-weight: bold;">Where:</span> <a href="https://www.google.com/maps/search/?api=1&query=@System.Net.WebUtility.UrlEncode(ev.location)">@ev.location</a></div>
                <div style="font-weight: bold;">Details:</div>
                <div>@Raw(ev.description?.Replace("\n", "<br>"))</div>
            </div>
            <hr>
        }
        <div>
            <span style="font-weight: bold;">More info:</span> Visit our website at <a href="@Model.SeriesWebsite">@Model.SeriesName</a>
        </div>
        <div style="margin-top: 10px;">
            <span style="font-weight: bold;">Subscribe to our calendar (always up to date):</span><br/>
            <a href="https://calendar.google.com/calendar/render?cid=@System.Net.WebUtility.UrlEncode(Model.CalendarUrl.Replace("https://", "webcal://").Replace("http://", "webcal://"))">Add to Google Calendar</a>
            &nbsp;|&nbsp;
            <a href="@Model.CalendarUrl.Replace("https://", "webcal://").Replace("http://", "webcal://")">Add to Outlook / Apple Calendar</a>
        </div>
    </body>
</html>
